<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robot_ros2_control" params="">

    <ros2_control name="FirebotSystem" type="system">
      <hardware>
         <plugin>robot_bombero_hardware/FirebotHardwareInterface</plugin>
          <param name="port_name">/dev/ttyUSB0</param>
      </hardware>

      <!-- Actuadores de ruedas mecanum -->
      <joint name="link_fl_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="link_fr_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="link_rl_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="link_rr_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>

      <!-- Articulaciones del brazo -->
      <joint name="joint_waist">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint_shoulder">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint_elbow">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint_wrist">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>

      <!-- Actuador para bomba de agua -->
      <joint name="joint_water_pump">
        <command_interface name="effort"/>
        <state_interface name="effort"/>
      </joint>
      
    </ros2_control>

  </xacro:macro>
</robot>
